
<div class="container">
  <div>Add a Link</div>
  <mat-form-field>
    <input matInput placeholder="Title" name="title" #newtitle>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Link" name="link" #newlink>
  </mat-form-field>
  <div fxLayout>
    <button mat-flat-button color="primary" (click)="addArticle(newtitle, newlink)" fxFlexOffset="auto">Submit Link</button>
  </div>
</div>

  <div fxLayout="column" fxLayoutGap="2%">
    <app-article *ngFor="let a of sortedArticles()" [article]="a"></app-article>
  </div>


<router-outlet></router-outlet>
